
@{
    ViewBag.Title = "Home";
    ViewBag.googlePlacesURL = System.Web.Configuration.WebConfigurationManager.AppSettings["googlePlacesURL"];
    ViewBag.googleKey = System.Web.Configuration.WebConfigurationManager.AppSettings["googleKey"];

}





    <button onclick="initialise()">getLocation</button>

    <p id="demo"></p>
<div id="map_canvas"></div>
<script type="text/javascript" src="@ViewBag.googlePlacesURL"></script>
<script>
    var map;
    var latlng;
    var myOptions;
    var userLat;
    var userLng;
    var establishmentLat;
    var establishmentLng;
    var resultCount = 0
    function initialise() {
        latlng = new google.maps.LatLng(-25.363882, 131.044922);
        myOptions = {
            zoom: 4,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.TERRAIN,
            disableDefaultUI: true
        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        doGeolocation();
    }

    function doGeolocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(positionSuccess, positionError);
        } else {
            positionError(-1);
        }
    }
    function positionError(err) {
        var msg;
        switch (err.code) {
            case err.UNKNOWN_ERROR:
                msg = "Unable to find your location";
                break;
            case err.PERMISSION_DENINED:
                msg = "Permission denied in finding your location";
                break;
            case err.POSITION_UNAVAILABLE:
                msg = "Your location is currently unknown";
                break;
            case err.BREAK:
                msg = "Attempt to find location took too long";
                break;
            default:
                msg = "Location detection not supported in browser";
        }
        document.getElementById('info').innerHTML = msg;
    }

    function positionSuccess(position) {

        var coords = position.coords || position.coordinate || position;
        userLat = coords.latitude;
        userLng = coords.longitude;
        var latLng = new google.maps.LatLng(coords.latitude, coords.longitude);

        var request = {
            location: latLng,
            rankBy: google.maps.places.RankBy.DISTANCE,
            types: ['restaurant','bar']
        };

        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch(request, callback);
        function callback(results, status) {
            if (status == google.maps.places.PlacesServiceStatus.OK) {
               // for (var i = 0; i < results.length; i++) {
                var firstResult = results[resultCount].name;
                if (confirm('Are you at ' + firstResult)) {
                    establishmentLng = results[resultCount].geometry.viewport.b.b;
                    establishmentLat = results[resultCount].geometry.viewport.f.f;
                  
                    console.log('estblishlat: ' + establishmentLat + ', lng: ' + establishmentLng);
                    console.log('userlat ' + userLat + ',userlng: ' + userLng);
                    calcDistance(userLat, userLng, establishmentLat, establishmentLng);
                    console.log(calcDistance(userLat, userLng, establishmentLat, establishmentLng) > 1);
                } else {
                    return;
                }
            }
        }
    }
 
     


  
        

        function calcDistance(lat1, lon1, lat2, lon2) {  //shows in miles, if need kilometers: dist * 1.609344
            var radlat1 = Math.PI * lat1 / 180
            var radlat2 = Math.PI * lat2 / 180
            var theta = lon1 - lon2
            var radtheta = Math.PI * theta / 180
            var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            dist = Math.acos(dist)
            dist = dist * 180 / Math.PI
            dist = dist * 60 * 1.1515
            console.log('distance: ' + dist)

            
        }

    </script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>




